<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {{>headerlink}}
        
    </head>
    <body>
        {{>header}}
<!-- main header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                        <div class="row">
                            <!--left-side-div  -->
                            <div class="col-md-6 col-12 main_header_left mx-auto">
                                <figure>
                                    <img src="./images/6.png" alt="Nidhir" class="img-fluid img-responsive w-70">
                                </figure>
                                <h1>{{ErrorMsg}}</h1>
                            </div>
                        </div>
                </div>
            </div>
        </div>

<!-- footer Section -->

{{>footer}}

        <script src="" async defer></script>
    </body>
</html>