<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {{>headerlink}}
        
    </head>
    <body>
        {{>header}}
<!-- main header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                        <div class="row">
                            <!--left-side-div  -->
                            <div class="col-md-6 col-12 main_header_right">
                                <figure>
                                    <img src="./images/6.png" alt="Nidhir" class="img-fluid img-responsive">
                                </figure>
                            </div>
                            <!-- right_side_div --> 
                            <div class="col-md-6 col-12 main_header_left">
                                <p>Howdy!!!! Nidhir Parmar's  Weather Forcast App</p>
                                <h1>I AM  A<SPAN>GRAPHIC & WEB DESIGNER</SPAN> AND I HEAR TO HELP YOU OUT.</h1>
                                <a href="https://pnidhir1992.github.io/Knowlage_Era.github.io/" target="./nidhir"><button>About-Us</button></a>
                            </div>

                        </div>
                </div>
            </div>
        </div>

<!-- footer Section -->

{{>footer}}

        <script src="" async defer></script>
    </body>
</html>